<!DOCTYPE html>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{{ path('film_filtre_dates') }}">Films entre deux dates</a>
                    <a class="nav-link active"   href="{{ path('film_filtre_dateAnterieure') }}">Films avant date</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('film_filtre_acteur') }}">Films d'un acteur</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('film_filtre_acteurs') }}">Films de deux acteurs</a>
                    <a class="nav-link active" aria-current="page" href="{{ path('film_filtre_genre') }}">Moyenne des durées des films</a>
                </div>
            </div>
        </div>
    </nav>
</html>