<!DOCTYPE html>
<html>

   <div>
        {{ form_start(myform) }}
        {{ form_errors(myform) }}
        <table>
            <tr>
                <td>{{ form_row(myform.film) }}</td>
                <td<{{ form_row(myform.submit) }}</td>
            </tr>
        </table>
        {{ form_end(myform) }}
    </div
</html>